<div id="All generated boards.">
  <h2 class="font-bold text-lg mb-7">All generated doards</h2>

  <div class="px-5">
    <%= render "boards", boards: @boards %>
  </div>
</div>
<br>
<%= link_to 'Back', root_path, class: "btn-primary" %>
